#profile1 {
  display: flex;
  align-items: center;
}

#about {
  text-align: left;
}

#animateButtonColumn {
  text-align: center;
  margin-top: 1em;
}

#animationGrid {
  margin-top: 3em;
}

#dinoColumn {
  display: flex;
  align-items: bottom;
}











